/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

.right_charts {
	margin-top: 50px;
}

/* Style for Custom Tooltip */
div.maptooltip {
 	position: absolute;
	text-align: center;
	width: 500px;
	height: 28px;
	padding: 2px;
	padding-left: 100px;
	font: 16px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

/* Legend Font Style */
body {
	font: 11px sans-serif;
}

/* Legend Position Style */
.maplegend {
	position:absolute;
	left:-20px;
	top:350px;
}
